apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: disco-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - service
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - disco.stable.sap.cc
  resources:
  - records
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - disco.stable.sap.cc
  resources:
  - records/finalizers
  verbs:
  - update
- apiGroups:
  - disco.stable.sap.cc
  resources:
  - records/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingress
  verbs:
  - get
  - list
  - watch
