apiVersion: v1
kind: ConfigMap
metadata:
  name: hypervisor-{{ name }}
  labels:
    system: openstack
    type: configuration
    component: nova
data:
  hypervisor.conf: |
    [DEFAULT]
    compute_driver=nova.virt.vmwareapi.VMwareVCDriver

    [vmware]
    insecure = True
    integration_bridge = {{ bridge }}
    cache_prefix= "{{ name }}-images"
    host_ip = {{ host }}
    host_username = "{{ username | replace("$", "$$") | replace('"', '\\"') }}"
    host_password = "{{ password | replace("$", "$$") | replace('"', '\\"') }}"
    cluster_name = "{{ cluster_name | replace("$", "$$") | replace('"', '\\"') }}"
    datastore_regex = "{{ datastore_regex | replace("$", "$$") | replace('"', '\\"') }}"
