apiVersion: v1
kind: ConfigMap
metadata:
  name: volume-vmware-{{ name }}
  labels:
    system: openstack
    type: configuration
    component: cinder
data:
  volume.conf: |
    [DEFAULT]
    enabled_backends = vmware
    storage_availability_zone = {{ availability_zone | quote }}

    [vmware]
    volume_backend_name = vmware
    volume_driver = cinder.volume.drivers.vmware.vmdk.VMwareVcVmdkDriver
    vmware_host_ip = {{ host }}
    vmware_host_username = {{ username | quote }}
    vmware_host_password = {{ username | derive_password | quote }}
    vmware_insecure = True
    vmware_storage_profile = cinder-vvol
