apiVersion: v1
kind: ConfigMap
metadata:
  name: volume-vmware-{{ name }}
  labels:
    system: openstack
    type: configuration
    component: cinder
data:
  volume.conf: |
    [DEFAULT]
    enabled_backends = vmware
    storage_availability_zone = {{ availability_zone | quote }}

    [vmware]
    volume_backend_name = vmware
    volume_driver = cinder.volume.drivers.vmware.vmdk.VMwareVcVmdkDriver
    vmware_host_ip = {{ host }}
    vmware_host_username = {{ username | quote }}
    vmware_host_password = {{ password | quote }}
    vmware_insecure = True
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: cinder-volume-vmware-{{ name }}
  labels:
    system: openstack
    type: backend
    component: cinder
spec:
  replicas: 1
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 3
  selector:
    matchLabels:
        name: cinder-volume-vmware-{{ name }}
  template:
    metadata:
      labels:
        name: cinder-volume-vmware-{{ name }}
      annotations:
        pod.beta.kubernetes.io/hostname: cinder-volume-vmware-{{ name }}
    spec:
      containers:
        - name: cinder-volume-vmware-{{ name }}
          image: {{ cinder_agent_image }}
          imagePullPolicy: IfNotPresent
          command:
            - /container.init/cinder-volume-start
          env:
            - name: DEBUG_CONTAINER
              value: "false"
            - name: SENTRY_DSN
              value: {{ cinder_sentry_dsn }}
          volumeMounts:
            - mountPath: /cinder-etc
              name: cinder-etc
            - mountPath: /volume-config
              name: volume-config
            - mountPath: /container.init
              name: container-init
      volumes:
        - name: cinder-etc
          configMap:
            name: cinder-etc
        - name: volume-config
          configMap:
            name:  volume-vmware-{{ name }}
        - name: container-init
          configMap:
            name: cinder-bin
            defaultMode: 0755