apiVersion: v1
kind: ConfigMap
metadata:
  name: hypervisor-{{ name }}
  labels:
    system: openstack
    type: configuration
    component: nova
data:
  hypervisor.conf: |
    [DEFAULT]
    compute_driver = nova.virt.vmwareapi.VMwareVCDriver
    reserved_host_memory_mb = 0

    [vmware]
    insecure = True
    integration_bridge = {{ bridge | quote }}
    cache_prefix= "{{ name | ini_escape }}-images"
    host_ip = {{ host }}
    host_username = {{ username | quote }}
    host_password = {{ username | derive_password | quote }}
    cluster_name = {{ cluster_name | quote }}
    {%- if pbm_enabled == 'true' %}
    pbm_enabled = True
    pbm_default_policy = "nova-ephemeral"
    {%- else %}
    datastore_regex = {{ datastore_regex | quote }}
    {%- endif %}
    use_linked_clone = False
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ml2-vmware-{{ name }}-ini
  labels:
    system: openstack
    type: configuration
    component: neutron
data:
  ml2-vmware.ini: |
    [securitygroup]
    firewall_driver = networking_dvs.plugins.ml2.drivers.mech_dvs.agent.dvs_firewall.DvsSecurityGroupsDriver

    [ml2_vmware]
    vsphere_hostname = {{ host }}
    cluster_name = {{ cluster_name | quote }}

    vsphere_login = {{ username | quote }}
    vsphere_password = {{ username | derive_password | quote }}

    network_maps = "{{ physical | ini_escape }}:{{ bridge | ini_escape }}"
