# env LDFLAGS="-L$(brew --prefix openssl@1.1)/lib" CFLAGS="-I$(brew --prefix openssl@1.1)/include" pip3 install --no-binary :all: cryptography
# cryptography >= 1.6
attrs
dnspython
scrypt
requests[secure]
six
enum34;python_version=='2.7'
pyvmomi
jinja2
kubernetes < 2
