kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: nova-compute-{{ name }}
  labels:
    system: openstack
    type: backend
    component: nova
spec:
  replicas: 1
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 3
  selector:
    matchLabels:
        name: nova-compute-{{ name }}
  template:
    metadata:
      labels:
        name: nova-compute-{{ name }}
      annotations:
        pod.beta.kubernetes.io/hostname: nova-compute-{{ name }}
    spec:
      containers:
        - name: nova-compute-{{ name }}
          image: {{nova_agent_image}}
          imagePullPolicy: IfNotPresent
          command:
            - /container.init/nova-compute-start
          env:
            - name: DEBUG_CONTAINER
              value: "true"
            - name: SENTRY_DSN
              value: {{ nova_sentry_dsn }}
          volumeMounts:
            - mountPath: /hypervisor-config
              name: hypervisor-config
            - mountPath: /nova-etc
              name: nova-etc
            - mountPath: /nova-patches
              name: nova-patches
            - mountPath: /container.init
              name: nova-container-init
        - name: neutron-dvs-agent
          image: {{ neutron_agent_image }}
          imagePullPolicy: IfNotPresent
          command:
            - /container.init/neutron-dvs-agent-start
          env:
            - name: DEBUG_CONTAINER
              value: "true"
            - name: SENTRY_DSN
              value: {{ neutron_sentry_dsn }}
          volumeMounts:
            - mountPath: /neutron-etc
              name: neutron-etc
            - mountPath: /ml2-conf-vmware
              name: ml2-conf-vmware
            - mountPath: /container.init
              name: neutron-container-init
      volumes:
        - name: nova-etc
          configMap:
            name: nova-etc
        - name: nova-patches
          configMap:
            name: nova-patches
        - name: hypervisor-config
          configMap:
            name: hypervisor-{{ name }}
        - name: nova-container-init
          configMap:
            name: nova-bin
            defaultMode: 0755
        - name: neutron-etc
          configMap:
            name: neutron-etc
        - name: ml2-conf-vmware
          configMap:
            name: ml2-vmware-{{ name }}-ini
        - name: neutron-container-init
          configMap:
            name: neutron-bin-vendor
            defaultMode: 0755
